body {
  margin: 0;
  font-family: monospace;
  background: black;
  color: white;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  z-index: 100;
}

#navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 30px;
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #navbar ul {
    gap: 10px;
    padding: 12px;
    font-size: 1.1rem;
  }
}

#navbar a {
  transition: all 0.2s ease;
}

#navbar a:hover {
  transform: scale(1.08);
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

a,
img,
#name {
  transition: all 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 80px 60px 50px 60px;
  gap: 40px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 80px 15px 20px;
    gap: 20px;
  }
}


#name {
  color: #00ffff;
  transition: all 0.3s ease;
}

#name:hover {
  color: #00ffff;
  text-shadow: 0 0 3px #00ffff;
  transform: scale(1.02);
  display: inline-block;
}

#navbar-name{
  color: #00ffff;
  text-shadow: 0 0 3px #00ffff;
  transform: scale(1.02);
  display: inline-block;
}

ul{
    list-style: none;
    padding-left: 0;
}
.right {
  flex: 0 0 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,.left-in-projects {
  flex: 1;
  max-width: 40%;
  padding-right: 20px;
  padding-left: 60px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .left,
  .left-in-projects {
    font-size: 1.3rem;
  }
}

.heightNwidthForLinks{
    height: 40px;
    width: 40px;
}

@media (max-width: 768px) {
  .heightNwidthForLinks {
    width: 50px;
    height: 50px;
  }
}

#profile-picture {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
}

#certificate-image {
  width: 300px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #certificate-image {
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 100px 20px 20px;
  }

  .right {
    order: 1;
  }

  .left,
  .left-in-projects {
    order: 2;
    max-width: 100%;
    padding: 0;
    font-size: 1.2rem;
  }

  #profile-picture {
    width: 220px;
    height: 220px;
  }
}